#toast {
  visibility: hidden;
  max-width: 100%;
  height: auto;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1500;
  left: 0;
  right: 0;
  bottom: 0px;
  font-size: 17px;
  white-space: nowrap;
}

#toast #desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: break-spaces;
}

/*Cookie Consent Begin*/
#cookieConsent {
  color: #fff;
  font-size: 15px;
}
#cookieConsent a {
  color: #dc2020;
  text-decoration: underline;
  margin: 0 10px;
  /* opacity: 0.8; */
  font-weight: bolder;
  font-size: 17px;
}
#cookieConsent a:hover {
  color: #d28585;
}
#cookieConsent button.cookieConsentOK {
  background-color: #dc2020;
  color: #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 0px 0px;
  cursor: pointer;
  margin: 0 90px 0 10px;
  width: 100px;
  height: 40px;
  border-color: transparent;
  opacity: 0.8;
}
#cookieConsent button.cookieConsentOK:hover {
  opacity: 1;
}
/*Cookie Consent End*/

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

#toast.hide {
  visibility: hidden;
  -webkit-animation: fadeout 1.5s;
  animation: fadeout 1.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 100%;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 100%;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 100%;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 100%;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 100%;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 100%;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}
