.filter-heading {
  font-weight: bold;
}

.filter-item-label {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.filter-item-label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-item-counter-badge {
  height: unset !important;
}
