svg.search-icon {
  fill: #e86161 !important;
  height: 1.2em;
}

/* workaround: suggestion-list for "no suggestion" remains with white background in reactivesearch-dark-mode */
.search-component-dark li {
  background-color: rgb(66,66,66);
}

/* workaround: suggestion-list uses light-mode scrollbars in reactivesearch-dark-mode */
.search-component-dark ul {
  scrollbar-color: grey rgb(66,66,66);
}

.search-component-input {
  border-radius: 1em;
}

.search-component-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.25);
}
